<template>
  <div class="hello">
    <div>
      <select v-model="$i18n.locale">
        <option value="en">en</option>
        <option value="ko">ko</option>
        <option value="af">af</option>        
      </select>
    </div>

    <img alt="Vue logo" :src="require(`@/assets/${$i18n.locale}/logo.png`)" style="width:200px; height: 200px">

    <h1>{{ $t("signUpPage.caution_1") }}</h1>
    <h1>{{ $t("signUpPage.caution_2") }}</h1>
    <h1>{{ $t("loginPage.pwInput") }}</h1>
    
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
